[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 150
ij_typescript_spaces_within_imports = true

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.bowerrc,*.jsb3,*.jsb2,*.arb,*.json}]
indent_style = space
indent_size = 2

[{*.ts,*.ats,*.js}]
indent_style = space
indent_size = 2

[*.svelte]
indent_style = space
indent_size = 3

[*.conf]
indent_style = space
indent_size = 2

[*.less]
indent_style = space
indent_size = 2

[{*.css,*.scss}]
indent_style = space
indent_size = 2

[{*.yml,*.yaml}]
indent_style = space
indent_size = 2

[tslint.json]
indent_style = space
indent_size = 2

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
