@import "tailwindcss";

@theme {
   --color-primary: #e2c81b;
   --color-primary-dark: #a89010;
   --color-secondary: #DEDDD5;
   --color-secondary-light: #F5F4F4;
   --color-font: #28282C;
}

@layer base {
   :root {
      --doc-height: 100%;
   }

   html {
      font-family: 'Inter', sans-serif;
      height: var(--doc-height);
      @apply text-font;
   }

   body {
      height: var(--doc-height);
   }

   h1 {
      @apply text-4xl md:text-5xl xl:text-6xl font-black tracking-wider;
   }

   h2 {
      @apply text-xl md:text-2xl xl:text-3xl tracking-wide;
   }

   h3 {
      @apply text-2xl lg:text-3xl xl:text-4xl font-bold tracking-wider;
   }

   a {
      @apply hover:text-primary-dark transition-colors duration-200;
   }
}
