@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --doc-height: 100%;
  }

  html {
    font-family: 'Inter', sans-serif;
    height: var(--doc-height);
    @apply text-font;
  }

  body {
    height: var(--doc-height);
  }

  h1 {
    @apply text-4xl md:text-5xl xl:text-6xl font-black tracking-wider;
  }

  h2 {
    @apply text-xl md:text-2xl xl:text-3xl tracking-wide;
  }

  h3 {
    @apply text-2xl lg:text-3xl xl:text-4xl font-bold tracking-wider;
  }

  a {
    @apply hover:text-primaryDark transition-colors duration-200;
  }
}
