@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --doc-height: 100%;
    }

    html {
        font-family: 'Inter', sans-serif;
        height: var(--doc-height);
    }

    h1 {
        @apply text-4xl md:text-5xl xl:text-6xl font-black text-font tracking-wider;
    }

    h2 {
        @apply text-xl md:text-2xl xl:text-3xl tracking-wide;
    }

    body {
        height: var(--doc-height);
    }
}